nav{
    color: white;
    background-color: black;
    float: left;
    width: 150px;
}
section.centre{
    margin-left: 150px;
}
img{
    width: 20%;
    height: 50%;
    margin-left: 15px;
}
#div_regroup{
    display: flex;
}
div div{
    font-size: 72px;
    text-align: center;
    margin-left: 30%;
    color: white;
}
body{
    background-color: black
}
aside{
    color: white;
    width: 20%;
    float: right;
    margin-right: 15px;
}
section.centre{
    margin-left: 20%;
}
